var form = document.getElementById("edit_order_status_<%=@order_status.id %>");
var row_tr = document.getElementById("row_order_status_<%=@order_status.id %>");
row_tr.getElementsByClassName("order_status_preview")[0].innerHTML = "<%= @order_status.status_name %>";