<div class="columns">
  <div class="column is-2">
    <aside class="menu">
      <p class="menu-label">
        Your Store
      </p>
      <ul class="menu-list">
        <% %>
        <li><%= link_to 'Your orders', store_orders_path %></li>
        <li><%= link_to 'Your sales', store_sales_path %></li>
        <li><%= link_to 'Your instruments', store_instruments_path %></li>
      </ul>

    </aside>
  </div>
  <div class="column is-10">
    <%= yield %>
  </div>
</div>