<div class="columns">
  <div class="column is-8">
    <div class="card-container">
      <div class="card ">
        <header class="card-header">
          <p class="card-header-title">
            Instruments to order
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="table-container">
              <table class="table is-fullwidth">
                <tbody>
                <% @cart.line_items.each_with_index do |item, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td> <%= image_tag(item.instrument.image_url(:mini_thumb)) %></td>
                    <td> <%= item.instrument.title.truncate(50) %></td>
                    <td> Quantity: <%= item.quantity %></td>
                    <td> Price : <%= item.instrument.price %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= simple_form_for @order, defaults: {input_html: {class: 'input'}, label: false} do |f| %>
      <div class="card-container pt4">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Address
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class='label'>Surname</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :first_name %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class='label'>Lastname</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :last_name %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class='label'>Address</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :ship_address %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label in-normal">
                  <label class="label">Postal Code</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :ship_postal_code %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">City</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :ship_city %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Voivodeship</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :ship_voivodeship %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Phone</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= f.input_field :ship_phone %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label"> Details</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">

                      <%= f.input_field :details, as: :text, class: 'textarea' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt4">
        <div class="card ">
          <header class="card-header">
            <p class="card-header-title">
              Delivery
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <table class="table">
                <tbody>
                <% DeliveryOption.all.each do |option| %>
                  <tr>
                    <th>
                      <div class="control">
                        <%= f.radio_button :delivery_option_id, option.id, class: 'order-delivery-option' %>
                      </div>
                    </th>
                    <th><%= option.name %></th>
                    <th class="order-delivery-price" data-delivery-price="<%= option.price %>"><%= delivery_price option.price %></th>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="column is-4">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Order
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p class="subtitle"> Buy <%= @cart.instruments_quantity %> Instruments (<%= @cart.total_price %>$) +
            Delivery(<span id="order-delivery-summary">0$</span>)</p>
          <h1 class="title is-4 pt3" id="order-total-price" data-total-price="<%= @cart.total_price %>">Total
            price: <%= @cart.total_price %> </h1>
        </div>
      </div>
      <footer class="card-footer">
        <%= f.button :submit, class: 'button is-fullwidth is-primary' %>
    <% end %>
      </footer>
    </div>
  </div>
</div>

