<tr>
  <td><%= order_counter + 1 %></td>
  <td>
    <%= link_to order_path(order) do %>
      <ol type="1">
        <% order.orders_instruments.each do |order_instrument| %>
          <li><%= order_instrument.instrument_truncated_title %></li>
        <% end %>
      </ol>
    <% end %>

  </td>
  <td><%= order.created_at_local %></td>
  <td><%= order.total_amount %></td>
  <td><%= order.instruments_quantity %></td>
  <td><%= order.status %></td>
</tr>