<% content_for :header do %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Make an order
        </h1>
      </div>
    </div>
  </section>
<% end %>
<%= render 'form' %>