<% content_for :header do %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%= @category.name %>
        </h1>
      </div>
    </div>
  </section>
<% end %>
<hr class="divider"/>
<div class="columns is-multiline pt4">
  <% @category.children.each do |category| %>
    <div class="column is-4">
      <div class="columns is-mobile">
        <div class="column is-1  category-thumb pa0">
          <figure class="image is-60x60">
            <%= link_to image_tag(category.image_url(:mini_thumb)), category %>
          </figure>
        </div>
        <div class="column is-11 pa3 ">
          <%= link_to category do %>
            <h1 class="has-text-weight-bold is-"> <%= category.name %></h1>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="instrument-index-grid pt4">
  <%= render @instruments %>
</div>
<br/>
<%== pagy_bulma_nav(@pagy) %>
