<% content_for :header do %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Browse your instruments
        </h1>
      </div>
    </div>
  </section>
<% end %>

<%= render layout: 'layouts/shared/user_panel' do %>

  <div class="instrument-index-grid pt4">
    <%= render @instruments %>
  </div>
  <br/>
  <%== pagy_bulma_nav(@pagy) %>

<% end %>