<% content_for :header do %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Your Orders
        </h1>
      </div>
    </div>
  </section>
<% end %>
<%= render layout: 'layouts/shared/user_panel' do %>
  <div class="level">
    <div class="level-left">
    </div>
    <div class="level-right">
      <p class="has-text-weight-semibold">Filter by status: </p>
      <div class="dropdown is-right pl3">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span> Filters</span>
            <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= link_to 'All', orders_path, class: 'dropdown-item' %>
            <% OrderStatus.statuses.each do |status| %>
              <%= link_to OrderStatus::STATUS_NAMES[status[0].to_sym], store_sales_path(status: status[0]), class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <td>Nr</td>
        <td>Instruments</td>
        <td>Order date</td>
        <td>Total price</td>
        <td>Quantity</td>
        <td>Status</td>
      </tr>
      </thead>
      <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <%= link_to store_sale_path(order) do %>
              <ol type="1">
                <% order.orders_instruments.each do |order_instrument| %>
                  <li><%= order_instrument.instrument.title.truncate(70) %></li>
                <% end %>
              </ol>
            <% end %>

          </td>
          <td><%= order.created_at_local %></td>
          <td><%= order.total_amount %></td>
          <td><%= order.user_owned_instruments_quantity(current_user) %></td>
          <td><%= order.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%== pagy_bulma_nav(@pagy) %>

<% end %>

