<% content_for :header do %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Sale
        </h1>
      </div>
    </div>
  </section>
<% end %>
<%= render layout: 'layouts/shared/user_panel' do %>
  <div class="columns">
    <div class="column is-5">
      <div class="card orders-detail-cards">
        <header class="card-header">
          <p class="card-header-title">
            Order status
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <table class="table is-narrow is-half">
              <tr>
                <th class="has-text-weight-bold">Order status:</th>
                <th> <%= @order.status %></th>
              </tr>
              <tr>
                <th class="has-text-weight-bold">Payment status:</th>
                <th></th>
              </tr>
              <tr>
                <th class="has-text-weight-bold">Date of the order:</th>
                <th> <%= @order.created_at_local %></th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card orders-detail-cards">
        <header class="card-header">
          <p class="card-header-title">
            Payment
          </p>
        </header>
        <div class="card-content pt1">
          <div class="content">
            <table class="table is-borderless">
              <tr>
                <td>Instruments</td>
                <td><%= @order.total_price %>$</td>
              </tr>
              <tr>
                <td>Delivery</td>
                <td><%= @order.delivery_option.price %>$</td>
              </tr>
              <tr>
                <td><p>Total </p></td>
                <td><%= @order.total_amount %>$</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Order status history
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="table-container">
          <table class="table is-fullwidth">
            <thead>
            <tr>
              <td> Status</td>
              <td> Date reported</td>
            </tr>
            </thead>
            <tbody>
            <% @order.order_statuses.each do |status| %>
              <tr>
                <td><%= status.status_name %></td>
                <td><%= status.date_reported_local %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Ordered instruments
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="table-container">
          <table class="table is-fullwidth">
            <tbody>
            <% @order.orders_instruments.each_with_index do |item, index| %>
              <tr id="row_order_status_<%= item.order_status.id %>">
                <td><%= index + 1 %></td>
                <td> <%= item.mini_thumb %></td>
                <td> <%= item.instrument_truncated_title %></td>
                <td> Quantity: <%= item.quantity %></td>
                <td> Price : <%= item.instrument.price %></td>
                <td> Status : <span class="order_status_preview"><%= item.order_status.status_name %></span></td>
                <td>
                  <%= simple_form_for(item.order_status, remote: true) do |f| %>
                    <div class="field">
                      <div class="control">
                        <div class="select">
                          <%= f.input :status, collection: OrderStatus.orders_instrument_statuses.map {|s| [OrderStatus.get_status(s[1]), s[1]]}, wrapper: false, label: false, selected: f.object.status_integer %>
                          <%= f.button :submit, data: {confirm: 'Are you sure? '} %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Order details
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column is-6">
            <h1 class="title is-6">Client Address</h1>
            <%= address_details @order %>
          </div>
          <div class="column is-6">
            <h1 class="title is-6">Delivery method</h1>
            <p><%= @order.delivery_method %></p>
            <p><%= @order.delivery_option.details %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

