<!DOCTYPE html>
<html>
<head>
  <title>Flanger</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="<%= yield (:body_class) %>">
<% if flash[:notice] %>
  <div class="notification is-success global-notification">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="notification is-danger global-notification">
    <p class="alert"><%= display_alert alert %></p>
  </div>
<% end %>

<%= render partial: 'layouts/shared/navbar' %>

<%= yield(:header) %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
